<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ZarzadzanieSalami</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testShouldDisplayZarzadzanieSalami</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShouldDeleteSala</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShouldAddNewSala</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testShouldSearchedSala</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>openBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openSite</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
