<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumSetUp.closeBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:11</td>   <td>10772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumSetUp.closeBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:19</td>   <td>19053</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumSetUp.closeBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:29</td>   <td>29294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumSetUp.closeBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:16:51</td>   <td>-8662</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:01</td>   <td>991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:12</td>   <td>11637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:20</td>   <td>19918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openBrowser()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openBrowser</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:16:56</td>   <td>-4219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openSite()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:04</td>   <td>4328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openSite()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:15</td>   <td>14685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openSite()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9f6666">  <td>17/02/09 21:17:23</td>   <td>22982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumSetUp.openSite()[pri:0, instance:ZarzadzanieSalami@7dc36524]">&gt;&gt;openSite</td> 
<td>&nbsp;</td>  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>17/02/09 21:17:06</td>   <td>5891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZarzadzanieSalami.testShouldAddNewSala(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ZarzadzanieSalami@7dc36524]">testShouldAddNewSala</td> 
  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>17/02/09 21:17:24</td>   <td>24219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZarzadzanieSalami.testShouldDeleteSala(java.lang.String, java.lang.String)[pri:0, instance:ZarzadzanieSalami@7dc36524]">testShouldDeleteSala</td> 
  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>17/02/09 21:16:57</td>   <td>-2912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZarzadzanieSalami.testShouldDisplayZarzadzanieSalami()[pri:0, instance:ZarzadzanieSalami@7dc36524]">testShouldDisplayZarzadzanieSalami</td> 
  <td>main@1873653341</td>   <td></td> </tr>
<tr bgcolor="9061ba">  <td>17/02/09 21:17:16</td>   <td>15935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ZarzadzanieSalami.testShouldSearchedSala(java.lang.String, java.lang.String)[pri:0, instance:ZarzadzanieSalami@7dc36524]">testShouldSearchedSala</td> 
  <td>main@1873653341</td>   <td></td> </tr>
</table>
